<% formContainer = "flex flex-col flex-grow h-full w-full items-center justify-center lg:w-5/12 mx-auto py-20" %>
<% formHeading = "text-2xl text-center font-medium mb-5 text-gray-800" %>
<% formSubHeading = "text-center text-gray-600 mb-5 w-2/3 -mt-4" %>
<% formWrapper = "bg-white / border shadow-sm / rounded-lg px-10 py-8 / w-full" %>
<% labelStyle = "block mb-1 font-medium text-gray-600 text-sm tracking" %>
<% inputStyle = "form-control border border-gray-400 text-gray-800 focus:text-black / w-full px-3 py-2 rounded-md / hover:border-gray-600 focus:border-gray-600 focus:outline-none / transition duration-200 ease-in-out" %>
<% buttonStyle = "btn font-semibold text-base text-white / px-4 py-2 w-full rounded-md / bg-teal-600 border border-teal-600 / cursor-pointer / hover:opacity-75 / transition duration-200 ease-in-out" %>

<div class="<%= formContainer %>">
  <h2 class="<%= formHeading %>">
    Resend confirmation instructions
  </h2>
  <%= form_for(
        resource,
        as: resource_name,
        url: confirmation_path(resource_name),
        html: { method: :post, class: formWrapper }
  ) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>
    <%= f.input :email, required: true, autofocus: true, input_html: { class: inputStyle },
          label_html: { class: labelStyle } %>
    <%= f.button :submit, "Resend confirmation instructions", class: buttonStyle %>
  <% end %>
  <%= render "users/shared/links" %>
</div>
