<div class="header bg-white border-b shadow-sm py-4 mb-6">
  <div class="container mx-auto flex flex-grow-1 px-4">
    <%= link_to "NeetoUiChallenge", root_path, class: "text-2xl font-semibold hover:text-teal-600" %>
    <% navLinkStyle = "nav-link text-base text-gray-800 ml-6 hover:text-teal-600" %>
    <div class="flex ml-auto items-center">
      <div class="nav-item">
        <%= link_to "Features", "/features", class: navLinkStyle %>
      </div>
      <div class="nav-item">
        <%= link_to "Contact", "/contact", class: navLinkStyle %>
      </div>
      <% if user_signed_in? %>
        <%= render "shared/header/user_is_signed_in" %>
      <% else %>
        <div class="nav-item">
          <%= link_to "Sign In", new_session_path(:user), class: navLinkStyle %>
        </div>
      <% end %>
    </div>
  </div>
</div>
