<% alertContainer = "fixed left-0 w-full flex items-center justify-center px-4" %>
<% alertWrapper = "relative w-full md:w-1/3 rounded-lg border py-2 px-4 mx-auto overflow-hidden" %>
<% alertClose = "cursor-pointer text-2xl leading-none relative -mt-1" %>
<% alertText = "flex flex-row items-center font-medium justify-between w-full" %>

<% flash.each do |name, message| %>
 <div class="<%= alertContainer %> <%= name.to_s == "alert" ? "top-0 mt-20" : "bottom-0 mb-10" %>" data-behavior="alert-container">
    <% if message.present? %>
      <div class="<%= alertWrapper %> <%= name.to_s == "alert" ? "bg-red-200 border-red-600" : "bg-green-200 border-green-800" %>" data-behavior="<%= name.to_s == "alert" ? "alert-error" : "alert-info" %>">
        <div class="alertDisappearing absolute bottom-0 left-0 w-full h-1 <%= name.to_s == "alert" ? "bg-transparent" : "bg-green-800" %>"></div>
        <div class="<%= alertText %> <%= name.to_s == "alert" ? "text-red-600" : "text-green-800" %>">
          <%= content_tag :div, message, id: "flash_#{name}" if message.is_a?(String) %>
          <a class="<%= alertClose %>" data-behavior="alert-close">×</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
