= content_for(:modal_title) do
  Edit #{@user_name.to_s.humanize}

= content_for(:modal_body) do
  .row{style: "padding-top: 10px;"}
    = simple_form_for(@user, url: superadmin_user_path(@user),                                     |
                             method: :patch,                                                       |
                             wrapper: :bootstrap3,                                                 |
                             html: { method: :put, class: 'bootstrap-center-form-medium' }) do |f| |
      .form-controls
        = f.input :email, required: true,                       |
                          autofocus: true,                      |
                          input_html: { class: 'form-control' } |
        = f.input :first_name, required: true, input_html: { class: 'form-control' }
        = f.input :last_name, required: true, input_html: { class: 'form-control' }
        = f.input :profile_image, as: :file
      .form-buttons
        = f.button :submit, "Update", class: 'btn btn-primary'


= render "shared/modal"
