<!DOCTYPE html>
<html>

<head>
  <meta name="google-site-verification" content="ZUi6T_v55Vx89N3jiaOjLZTzF_3q9Ex2jaVd4XowxV4">
  <title><%= content_for?(:title) ? yield(:title) : "Wheel" %></title>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag "application" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css", media: "all" %>
</head>

<body>
  <%= yield %>
  <%= javascript_pack_tag "application", crossorigin: "anonymous" %>
</body>

</html>
